.carouselContainer {
  position: relative;
  margin-top: 5px;
  padding: 20px;
  overflow: hidden;
}
h2 {
  margin-bottom: 20px;
}

.carousel {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  gap: 20px;
  padding-bottom: 10px;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carouselItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: inherit;
  min-width: 200px;
}

.carouselItem img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}

/* .carouselItem h3 {
  margin: 10px 0;
  font-size: 1em;
  text-align: center;
} */

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
}

.arrow:first-child {
  left: 10px;
}

.arrow:last-child {
  right: 10px;
}

.carousel {
  display: flex;
  gap: 1rem;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carouselItem {
  min-width: 200px;
  flex-shrink: 0;
}

/* .carouselItem h3 {
  font-size: 0.95rem;
  font-weight: 600;
  margin-top: 8px;

  
  display: -webkit-box;
  -webkit-line-clamp: 2; 
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;

  height: 2.6em; 
} */

.carouselTitle {
  width: 100%;
  text-align: center;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;

  font-size: 0.95rem;
  font-weight: 600;
  margin-top: 8px;
  height: 2.6em;
}